@use "color-variables" as c-var;

/** three specially classified mixins for customizing the whole page.
just assign a different mixin to the "body" tag and the whole page will adjust to a different color theme.
#cool_right? **/


// pink theme (girly--pinky)
$girly--pinky: #ea4d99;
$trans--gp : rgba(253, 156, 203, .3);
$gp--footer--background : #886877;
$gp--footer--icons : #f5d6e5;


@mixin girly--pinky() {custom-btn
    nav {
        li {
            &:hover {
                background-color: $trans--gp;
            }
        }
    }
    .social-icons {
        border: 2px solid $girly--pinky;
        .fab {
            color: $girly--pinky;
        }
    }
    .seller-intro {
        // color: c-var.$custom-grey;
        &-button {
          a {
            color: c-var.$vanilla;
            border: 2px solid $girly--pinky;
            background-color: $girly--pinky;
          }
          a:hover {
            background-color: c-var.$trans;
            color: c-var.$night;
            transition: background-color .5s ease-in-out;
          }
        }
    }
    .custom-heading {
        color: c-var.$custom-grey;
        border-left: 5px $girly--pinky solid;
    }
    .custom-link {
        color: $girly--pinky;
        &:hover {
          color: c-var.$night;
        }
    }
    .works-section {
        .row {
            h5 {
                color: c-var.$custom-grey;
            }
        }
    }
    .custom-btn-case {
        .custom-btn {
            background-color: $girly--pinky;
            color: c-var.$vanilla;
        }
    }
    .services {
        .plain-cards {
            border-bottom: 3px solid $girly--pinky;
        }
    }
    .float-top-button {
        background-color: $girly--pinky;
    }
    footer {
        background-color: $gp--footer--background;
        .footer-text-case {
            color: c-var.$vanilla;
        }
        .last-text {
            color: c-var.$vanilla;
        }
        .fa-heart {
            color: $girly--pinky;
        }
        .icons-ball {
            border: 2px solid $gp--footer--icons;
        }
        .fab {
            color: $gp--footer--icons;
        }
    }
}

// // purple theme (bold-purp)

// $bold-purp: purple;
// $trans--bp
// $bp--footer--background
// $bp--footer-icons

// @mixin bold--purp () {

// }

// // blue theme (blue--dude)

// $blue-dude:;
// $trans-bd:;
// $bd--footer--background:;
// $bd--footer-icons :;

// @mixin blue--dude() {

// }