//colors-variables
// black
$night : #000;

// custom-grey
$custom-grey : #6c757d;

// white
$vanilla : white;

// opacity-effect
$trans-ash : rgba(108, 117, 125, .3);

// transparent
$trans : transparent;





