//main.scss
$primary-color:#6c63ff;
$font: 'lato';
body{
  background: $primary-color;
  font-family: $font;
  p{
    color: #ffffff;
    height: 20px;
    transform: scale(1.5);
  }
  &:hover {
    transition: color .5s ease;
  }
}