html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }

nav li {
  margin: 0 10px;
  padding: 0 10px;
  text-align: center;
  min-width: 80px; }
  nav li:hover {
    border-radius: 5px;
    background-color: rgba(108, 117, 125, 0.3);
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out; }

.navbar-brand img {
  width: 70px;
  height: 80px; }

.nav-case {
  min-width: 400px; }

.overall {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.7); }

.nav-link {
  color: #000 !important; }

.seller-intro {
  min-width: 200px;
  padding: 0 0 50px;
  margin: 0 auto;
  color: #000; }
  .seller-intro img {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    margin: 25px auto 30px;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    box-shadow: 0 0 15px 1px #4e4b4b !important;
    /* box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06); */ }
  .seller-intro-text {
    font-size: 30px;
    width: 60%;
    text-align: center;
    margin: 0 auto; }
  .seller-intro-button {
    width: 200px;
    margin: 15px auto 0; }
    .seller-intro-button a {
      color: white;
      padding: 7px;
      font-size: 20px;
      width: inherit;
      border: 2px solid #000;
      background-color: #000; }
    .seller-intro-button a:hover {
      background-color: transparent;
      color: #000;
      -webkit-transition: background-color .5s ease-in-out;
      transition: background-color .5s ease-in-out; }

.seller-image-case {
  width: 230px;
  margin: 0 auto; }

.btn:focus {
  box-shadow: none; }

.social-icons {
  width: 35px;
  height: 35px;
  padding: 4px 0;
  display: inline-block;
  border-radius: 100%;
  font-size: 17px;
  background-color: transparent;
  border: 2px #000 solid;
  text-align: center; }
  .social-icons:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .5s ease-in-out transform;
    transition: .5s ease-in-out transform; }
  .social-icons .fab {
    color: #000; }
  .social-icons-case {
    min-width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .social-icons-case a {
      text-decoration: none; }

.icons-case {
  margin-left: auto;
  min-width: 330px; }
  .icons-case a {
    text-decoration: none; }

.icons-ball {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 6px 0;
  color: white;
  font-size: 17px;
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  /* margin:0 40px; */ }
  .icons-ball:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .5s ease-in-out transform;
    transition: .5s ease-in-out transform; }

.last-text {
  padding: 40px 20px 15px;
  text-align: right;
  color: white; }

.bold {
  font-weight: bold; }

.icon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #000;
  display: inline-block;
  margin: 0 auto; }

header {
  background-image: url(../../Images/pix13.jpg);
  min-height: 300px;
  width: 100%;
  background-size: cover; }

.banner {
  box-shadow: 0 0 15px 1px #e4e2e2; }
  .banner-overlay {
    width: inherit;
    min-height: inherit;
    padding-top: 120px;
    background-color: rgba(255, 255, 255, 0.8); }

.top-offset {
  margin-top: 100px; }

.navbar-toggler {
  border: none; }
  .navbar-toggler:focus {
    outline: none; }

.seller-story .custom-heading {
  padding: 25px 0; }

.custom-heading {
  color: #000;
  font-weight: 300;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
  border-left: 5px #000 solid; }

.more-about-seller {
  width: 80%;
  color: #000;
  margin: 0 auto;
  font-size: 20px; }

.about {
  width: 100%;
  margin: 30px 0 0;
  padding: 50px 0;
  background-size: cover;
  min-height: 300px;
  /* background-image: url(../Images/pix-1x.jpg); */ }
  .about .container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 0;
    min-height: 200px; }

.works-section {
  padding: 30px 0; }
  .works-section .row .card {
    border: none;
    cursor: pointer; }
    .works-section .row .card .card-body {
      padding: 10px 0 0; }
    .works-section .row .card h5 {
      margin-bottom: 0; }
    .works-section .row .card .card-pic-case {
      background-image: url(../../Images/pix13.jpg);
      min-height: 240px;
      background-size: cover;
      width: 100%; }
    .works-section .row .card .card-pic-case-child {
      height: 240px;
      width: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7); }
    .works-section .row .card .tags-case {
      position: relative;
      top: 10px;
      padding: 5px 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    .works-section .row .card .tag {
      background-color: rgba(255, 255, 255, 0.7);
      min-width: 10px;
      margin: 0 3px;
      display: block;
      border-radius: 5px;
      padding: 3px 10px;
      color: #000; }
  .works-section .container {
    padding: 20px 0; }

.tools-section {
  padding: 30px 0; }
  .tools-section .container {
    margin: 70px auto; }

.tools-image-case {
  min-width: 150px;
  min-height: 75px;
  margin: 0 auto;
  text-align: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }
  .tools-image-case:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transition: -webkit-filter .4s ease;
    transition: -webkit-filter .4s ease;
    transition: filter .4s ease;
    transition: filter .4s ease, -webkit-filter .4s ease; }
  .tools-image-case .tools-icon {
    width: 200px;
    height: 150px; }
  .tools-image-case .logo-text {
    font-size: 45px;
    margin: auto 0;
    padding-top: 40px;
    color: black; }

.chen-image {
  width: 150px;
  height: 75px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06); }
  .chen-image:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out; }

.float-top-button {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50px;
  display: none;
  height: 50px;
  position: fixed;
  padding: 8px;
  border-radius: 100%;
  text-align: center;
  bottom: 30px;
  right: 20px;
  color: white;
  font-size: 25px;
  box-shadow: 0 0 15px 1px #6c757d; }
  .float-top-button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }

footer {
  /* min-height: 300px; */
  background-color: #303840;
  padding: 50px 0 0; }
  footer .flex, footer .block {
    margin: 20px 0; }

.footer-text-case {
  padding-left: 55px;
  color: white;
  font-size: 17px; }

.footer-icons-case {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.custom-link {
  color: #6c757d;
  text-decoration: none; }
  .custom-link:hover {
    color: #6c757d;
    text-decoration: none; }

.block {
  display: block; }

.inline {
  display: inline-block; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.sm-only {
  display: none; }

@media screen and (max-width: 991px) {
  .sm-only {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 220px;
    margin: 25px auto 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .lg-only {
    display: none; }
  .last-text {
    text-align: center; }
  .more-about-seller {
    width: 100%; }
  .footer-text-case {
    padding: 20px;
    text-align: center; }
  .icons-case {
    margin: 0 auto; }
  .row {
    margin-left: 15px;
    margin-right: 15px; }
  .navbar-toggler {
    padding: .25rem 0 .25rem .75rem; }
  .navbar-brand img {
    width: 40px;
    height: 45px; } }

@media screen and (max-width: 760px) {
  .seller-intro-text {
    width: 70%; } }

@media screen and (max-width: 535px) {
  .seller-intro img {
    width: 200px;
    height: 200px; }
  .seller-intro-text {
    width: 100%;
    padding: 0 15px; }
  .sm-padding {
    padding: 5px; }
  .seller-image-case {
    width: 200px; }
  .more-about-seller {
    font-size: 18px; }
  .banner-overlay {
    padding-top: 90px; }
  .flex .icons-ball {
    margin: 0 5px; }
  .icons-case {
    min-width: 100%; } }
