html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body nav li:hover {
  background-color: rgba(234, 76, 153, 0.3);
}
body .social-icons {
  border: 2px solid #ea4d99;
}
body .social-icons .fab {
  color: #ea4d99;
}
body .seller-intro-button a {
  color: white;
  border: 2px solid #ea4d99;
  background-color: #ea4d99;
}
body .seller-intro-button a:hover {
  background-color: transparent;
  color: #000;
  transition: background-color 0.5s ease-in-out;
}
body .custom-heading {
  color: #6c757d;
  border-left: 5px #ea4d99 solid;
}
body .custom-link {
  color: #ea4d99;
}
body .custom-link:hover {
  color: #000;
}
body .works-section .row h5 {
  color: #6c757d;
}
body .float-top-button {
  background-color: #ea4d99;
}
body footer {
  background-color: #eaeaea;
}
body footer .footer-text-case {
  color: #6c757d;
}
body footer .last-text {
  color: #6c757d;
}
body footer .fa-heart {
  color: #ea4d99;
}
body footer .icons-ball {
  border: 2px solid #ea4d99;
}
body footer .fab {
  color: #ea4d99;
}

nav li {
  margin: 0 10px;
  padding: 0 10px;
  text-align: center;
  min-width: 80px;
}
nav li:hover {
  border-radius: 5px;
  background-color: rgba(108, 117, 125, 0.3);
  transition: background-color 0.5s ease-in-out;
}
nav .dropdown-menu {
  text-align: center;
}

.navbar {
  padding: 0 10px;
}

.navbar-brand img {
  width: 70px;
  height: 80px;
  color: #000;
}

.nav-case {
  min-width: 400px;
}

.overall-overlay {
  width: 100%;
  height: 100vh;
  font-size: 19px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
.overall-overlay .pop-btn-case {
  position: fixed;
  top: 20px;
  right: 45px;
  z-index: 1000000;
  width: 40px;
  height: 50px;
}
.overall-overlay .close-icon {
  font-size: 40px;
  color: rgba(108, 117, 125, 0.3);
}
.overall-overlay .close-icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.overall-overlay .about-works-case {
  width: 80%;
  min-height: 300px;
  padding: 0 0 30px;
  margin: 0 auto;
  display: none;
  background-color: white;
}
.overall-overlay .about-works-case .close-link {
  text-decoration: none;
}
.overall-overlay .about-works-case .works-heading {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  background-size: cover;
  color: white;
  background-image: url(../../Images/pix13.jpg);
}
.overall-overlay .about-works-case .works-heading-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}
.overall-overlay .about-works-case .about-works-content {
  width: 70%;
  margin: 0 auto;
}
.overall-overlay .about-works-case .sm-heading {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  margin: 25px 0 10px 0;
  border-left: 2px solid #000;
}
.overall-overlay .about-works-case .bottom-close {
  width: 150px;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  font-size: 20px;
  padding: 3px;
  text-align: center;
  margin: 30px auto 0;
}
.overall-overlay .about-works-case .bottom-close:hover {
  background-color: #000;
  color: white;
  transition: color 0.7s ease;
}
.overall-overlay .about-works-case .bottom-close .fas {
  transform: translate(1px, 1px);
}
.overall-overlay .about-works-case .works-image {
  margin-bottom: 30px;
}
.overall-overlay .about-works-case .img-big {
  width: 100%;
  margin: 20px 0 0 0;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06);
  height: 450px;
}

.nav-link {
  color: #000 !important;
}

.seller-intro {
  min-width: 200px;
  padding: 0 0 50px;
  margin: 0 auto;
  color: #000;
}
.seller-intro img {
  width: 230px;
  height: 230px;
  border-radius: 2%;
  margin: 25px auto 30px;
  filter: grayscale(1);
  box-shadow: 0 0 15px 1px #4e4b4b !important;
  /* box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06); */
}
.seller-intro-text {
  font-size: 30px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.seller-intro-button {
  width: 200px;
  margin: 25px auto 0;
}
.seller-intro-button a {
  color: white;
  padding: 7px;
  font-size: 20px;
  width: inherit;
  border: 2px solid #000;
  background-color: #000;
}
.seller-intro-button a:hover {
  background-color: transparent;
  color: #000;
  transition: background-color 0.5s ease-in-out;
}

.seller-image-case {
  width: 230px;
  margin: 0 auto;
}

.btn:focus {
  box-shadow: none;
}

.social-icons {
  width: 35px;
  height: 35px;
  padding: 4px 0;
  display: inline-block;
  border-radius: 100%;
  font-size: 17px;
  background-color: transparent;
  border: 2px #000 solid;
  text-align: center;
}
.social-icons:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out transform;
}
.social-icons .fab {
  color: #000;
}
.social-icons-case {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}
.social-icons-case a {
  text-decoration: none;
}

.icons-case {
  margin-left: auto;
  min-width: 330px;
}
.icons-case a {
  text-decoration: none;
}

.icons-ball {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding: 6px 0;
  color: white;
  font-size: 17px;
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  /* margin:0 40px; */
}
.icons-ball:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out transform;
}

.last-text {
  padding: 0px 20px 15px;
  text-align: right;
  color: white;
}

.bold {
  font-weight: bold;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #000;
  display: inline-block;
  margin: 0 auto;
}

header {
  background-image: url(../../Images/pix13.jpg);
  min-height: 300px;
  width: 100%;
  background-size: cover;
}

.banner {
  box-shadow: 0 0 15px 1px #e4e2e2;
}
.banner-overlay {
  width: inherit;
  min-height: inherit;
  padding-top: 120px;
  background-color: rgba(255, 255, 255, 0.8);
}

.top-offset {
  margin-top: 100px;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
}

.seller-story .custom-heading {
  padding: 25px 0;
}

.custom-heading {
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
  border-left: 5px #000 solid;
}

.more-about-seller {
  width: 80%;
  color: #000;
  margin: 0 auto;
  font-size: 20px;
}

.about {
  width: 100%;
  margin: 30px 0 0;
  padding: 50px 0;
  background-size: cover;
  min-height: 300px;
  /* background-image: url(../Images/pix-1x.jpg); */
}
.about .container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px 0;
  min-height: 200px;
}

.works-section {
  padding: 30px 0;
}
.works-section .col-lg-4 {
  margin-bottom: 40px;
}
.works-section .row .card {
  border: none;
}
.works-section .row .card .card-body {
  padding: 15px 0 0;
}
.works-section .row .card h5 {
  margin-bottom: 0;
}
.works-section .row .card .card-pic-case {
  background-image: url(../../Images/pix13.jpg);
  min-height: 240px;
  background-size: cover;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06);
  width: 100%;
  cursor: pointer;
}
.works-section .row .card .card-pic-case-child {
  height: 240px;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.works-section .row .card .card-title {
  font-weight: bold;
}
.works-section .row .card .tags-case {
  position: relative;
  top: 10px;
  padding: 5px 10px;
  display: flex;
  width: 100%;
}
.works-section .row .card .tag {
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 10px;
  margin: 0 3px;
  display: block;
  border-radius: 5px;
  padding: 3px 10px;
  color: #000;
}
.works-section .container {
  padding: 20px 0;
}

.tools-section {
  padding: 30px 0;
}
.tools-section .container {
  margin: 50px auto;
}
.tools-section a:hover {
  text-decoration: none;
}

.tools-image-case {
  min-width: 150px;
  min-height: 75px;
  margin: 0 auto;
  text-align: center;
}
.tools-image-case:hover {
  filter: grayscale(0);
  transition: filter 0.4s ease;
}
.tools-image-case .tools-icon {
  width: 200px;
  height: 150px;
}
.tools-image-case .logo-text {
  font-size: 45px;
  margin: auto 0;
  padding-top: 40px;
  color: black;
}
.tools-image-case .logo-credit {
  font-size: 10px;
  display: block;
}

.chen-image {
  width: 150px;
  height: 75px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06);
}
.chen-image:hover {
  transform: scale(1.1);
  transition: transform 0.8s ease-in-out;
}

.float-top-button {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50px;
  display: none;
  height: 50px;
  position: fixed;
  padding: 8px;
  border-radius: 100%;
  text-align: center;
  bottom: 30px;
  right: 20px;
  color: white;
  font-size: 25px;
  box-shadow: 0 0 15px 1px #6c757d;
}
.float-top-button:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

footer {
  /* min-height: 300px; */
  background-color: #303840;
  padding: 50px 0 0;
}
footer .flex, footer .block {
  margin: 20px 0;
}

.footer-text-case {
  padding-left: 50px;
  color: white;
  font-size: 20px;
}

.footer-icons-case {
  display: flex;
  align-items: center;
}

.custom-link {
  color: #6c757d;
  text-decoration: none;
}
.custom-link:hover {
  color: #000;
  text-decoration: none;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.sm-only {
  display: none;
}