html {
    scroll-behavior: smooth ;
}
body {
    margin: 0;
    padding: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.social-icons-case {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}
.last-text {
    padding: 40px 20px 15px;
    text-align: right;
    color: white;
}
.bold {
    font-weight: bold;
}
.social-icons {
    width: 35px;
    height: 35px;
    padding: 4px 0;
    display: inline-block;
    border-radius: 100%;
    font-size: 17px;
    background-color: transparent;
    border: 2px black solid;
    text-align: center;
}
.social-icons-case a, .icons-case a {
    text-decoration: none;
}
.social-icons:hover, .icons-ball:hover {
    transform: scale(1.2);
    transition: .5s ease-in-out transform;
}
.icon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    display: inline-block;
    margin: 0 auto;
}
.navbar-brand img{
    width: 70px;
    height: 80px;
}
.nav-case {
    min-width: 400px;
}
nav li {
    margin: 0 10px;
    padding: 0 10px;
    text-align: center;
    min-width: 80px;
}
nav li:hover {
    border-radius: 5px;
    background-color: rgb(183, 181, 181);
    transition: background-color .5s ease-in-out;
}
.nav-link {
    color: black!important;
}
header {
    background-image: url(../Images/pix13.jpg);
    min-height: 300px;
    width: 100%;
    background-size: cover;
}
.banner {
    box-shadow: 0 0 15px 1px hsl(0, 2%, 89%);
}
.top-offset {
 margin-top: 100px;
}
.banner-overlay {
    width: inherit;
    min-height: inherit;
    padding-top: 120px;
    background-color: rgba(255, 255, 255, 0.8);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}
.seller-intro {
    min-width: 200px;
    padding: 0 0 50px;  
    margin: 0 auto;
    color: black;
}
.seller-image-case {
    width: 230px;
    margin: 0 auto;
}
.seller-intro img{
    width: 230px;
    height: 230px;
    border-radius: 5%;
    margin: 25px auto 30px;
    filter: grayscale(1);
    box-shadow: 0 0 15px 1px hsl(0, 2%, 30%)!important;   
    /* box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06); */
}
.seller-intro-text {
    font-size: 30px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.seller-intro-button {
    width: 200px;
    margin: 15px auto 0;
}
.seller-intro-button  a{
    color: black;
    padding: 7px;
    font-size: 20px;
    width: inherit;
    border: 2px solid black;
    background-color: transparent;
}
.btn:focus {
    box-shadow: none;
}
.seller-intro-button a:hover {
    background-color: black;
    color: white;
    transition: background-color .5s ease-in-out;
}

/* start of to be neat styles*/

.seller-details {
    padding: 20px;
    margin-top: 30px;
}
.custom-heading {
    color: black;
    font-weight: normal;
    text-align: center;
}
.custom-heading::after {
    content: "";
    width: 150px;
    height: 1px;
    display: block;
    background-color: #545455;
    margin: 0 auto 20px;
}
.more-about-seller {
    width: 80%;
    color: black;
    margin: 0 auto;
    font-size: 20px;
}
.about-chen {
    width: 100%;
    margin: 30px 0 0;
    padding: 50px 0;
    background-size: cover;
    min-height: 300px;
    /* background-image: url(../Images/pix-1x.jp; */
}
.about-chen .container {
    background-color: rgba(255, 255, 255, .95);
    padding: 30px 0;
    min-height: 200px;
}
.chen-image-case {
    width: 350px;
    height: 250px;
    padding: 20px 0;
    box-sizing: content-box;
    margin: 0 auto;
}
.chen-image-case a {
    width: inherit;
    height: inherit;
    display: inline-block;
}
.chen-image {
    width: inherit;
    height: inherit;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06);
}
.chen-image:hover {
    transform: scale(1.1);
    transition: transform .8s ease-in-out;
}
.float-top-button {
    background-color: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    position: fixed;
    padding: 8px;
    border-radius: 100%;
    text-align: center;
    bottom: calc(1vh + 30px);
    right: 20px;
    color: white;
    font-size: 25px;
    box-shadow: 0 0 15px 1px #696464;        
}
.float-top-button:hover {
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
}
.chen-text-case {
    font-size: 20px;
    padding: 20px 60px 20px 0;
    color: black;
}
footer {
    /* min-height: 300px; */
    background-color: #545454;
    padding: 50px 0 0;
}
.footer-text-case {
    padding-left: 55px;
    color: white;
    font-size: 17px;
}
.custom-link {
    color: #545454;
    text-decoration: underline;
}
.custom-link:hover {
    color: #545454;
}
.social-icons .fab {
    color: black;
}
.footer-icons-case {
    display: flex;
    align-items: center;
}
.block {
    display: block;
}
.inline {
    display: inline-block;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
.icons-case {
    margin-left: auto;
    min-width: 330px;
}
.icons-ball {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 6px 0;
    color: white;
    font-size: 17px;
    text-align: center;
    background-color: transparent;
    border: 2px solid white;
    /* margin:0 40px; */
}
.sm-only {
    display: none;
}
footer .flex, footer .block {
    margin: 20px 0;
}

/* **media queries begin ** */  /* **media queries begin ** */

@media screen and (max-width:991px) {
    .sm-only {
        display: flex;
        min-width: 220px;
        margin: 25px auto 0;
        justify-content: space-between;
        }
    .lg-only {
        display: none;
    }
    .last-text {
        text-align: center;
    }
    .navbar-brand img {
        width: 40px;
        height: 45px;
    }
    .more-about-seller {
        width: 100%;
    }
    .chen-text-case {
        padding: 30px 20px;
        text-align: center;
    }
    .footer-text-case {
        padding: 20px;
        text-align: center;
    }
    .icons-case {
        margin: 0 auto;
    }
    .row {
        margin-left : 15px;
        margin-right: 15px;
    }
    .navbar-toggler {
        padding: .25rem 0 .25rem .75rem;
    }
}
@media screen and (max-width:760px) {
    .seller-intro-text {
        width: 70%;
    }
}
@media screen and (max-width:535px) {
    .seller-intro-text {
        width: 100%;
        padding: 0 15px;
    }
    .sm-padding {
        padding: 5px;
    }
    .seller-image-case {
        width: 200px;
    }
    .seller-intro img {
        width: 200px;
        height: 200px;
    }
    .more-about-seller {
        font-size: 18px;
    }
    .banner-overlay {
    padding-top: 90px;
    }
    .chen-text-case {
        padding: 0;
        font-size: 18px;
    }
    .chen-image-case {
        width: 100%;
        height: 220px;
    }
    .flex .icons-ball {
        margin: 0 5px;
    }
    .icons-case {
        min-width: 100%;
    }
}
@media screen and (max-width:350px) {
    .chen-image-case {
        width: 100%;
        height: 220px;
    }
}

/* **media queries ends ** */ /* **media queries begin ** */

/*end here*/